@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&family=Unica+One&display=swap');

:root {
    --color: darkgray;
    --font-size: 24px;
    --gutter: calc(var(--font-size) * 2);
    --font-display: "Instrument Serif";
}

em {
    font-style: italic;
}

body {
    font-family: "Azeret Mono";
    font-size: var(--font-size);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: calc(var(--gutter) * 1.5);
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
    background-color: #0047FF;
    color: white;
    align-items: space-between;
    max-height: 100vh;
}

main ol {
    display: flex;
    flex-direction: column;
    gap: 8px
}

h1 {
    animation: load 0.5s linear;
}

ol li {
    animation: load 3s linear;
}

footer {
    animation: load 5s linear;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-size: 96px;
    font-family: var(--font-display);
}

a:link {
    text-decoration: underline;
    line-height: 1.5;
} 

a:hover {
    color: #B13A91;
}

footer {
    font-size: calc(var(--font-size)/1.5);
    padding-top: var(--gutter);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

@media (max-width: 720px) {
    footer {
        font-size: 40px;
    }
}

@media (min-width: 720px) {
    :root {
        --font-size: 32px;
    }

    h1 {
        font-size: 96px;
    }
}